@font-face {
    font-family:BebasNeueBold;
    src:url('../fonts/BebasNeue Bold.ttf');
}
@font-face {
    font-family:BebasNeueRegular;
    src:url('../fonts/BebasNeue Regular.ttf');
}
@font-face {
    font-family:Muli-Regular;
    src:url('../fonts/Muli-Regular.ttf');
}
body
{
  margin: 0;
  padding: 0;
  width: 100%;
  background: #141414;
  color: white;
    overflow-x: hidden;
}
h1,h2,h3,h4{
   font-family: BebasNeueBold; 
   font-weight: normal; 
   font-style: normal; 
}
a{
    font-family: "Muli-Regular";
}
p { 
   font-family: BebasNeueRegular; 
   font-weight: normal; 
   font-style: normal; 
}

#zaglavlje{
    width:100%;
    min-height: 100px;
}
/*LOGO*/
#logo{
    position: relative;
    top:40px;
    left:40px;
}
#logo img{
    width:120px;
    height:120px;
}

/*MENI*/
.mobile-nav{
  display: none;
}
#zaglavlje nav{
    width:100%;
    position: relative;
    left:30px;
    top:60px;
}
#zaglavlje nav li{
    margin-left:30px;
}
#zaglavlje nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
}
#zaglavlje nav li a{
	color:white;
	text-decoration:none;
	font-size:22px;
	font-weight:bold;
}
#zaglavlje a:hover{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transition:0.2s ease;
}


.flex-container{
    width: 100%;
    margin: 0px auto;
    min-height: 550px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
#main{
    width:100%;
    min-height: 700px;
}
#glavniTekst{
    position: relative;
    width: 50%;
    left:80px;
    width: 50%;
}
#glavniTekst h1{
    font-size: 200px;
    line-height: 80%;
    letter-spacing: -2px;
    margin-bottom: -15px;
}

h1 span{
    display: table-cell;
    margin:0;
    padding:0;
    animation:  animate 2s linear infinite;
}
h1 span:nth-child(1){
    animation-delay: 0s;
}
h1 span:nth-child(2){
    animation-delay: 0.25s;
}
h1 span:nth-child(3){
    animation-delay: 0.5s;
}
h1 span:nth-child(4){
    animation-delay: 0.75s;
}
h1 span:nth-child(5){
    animation-delay: 1s;
}
h1 span:nth-child(6){
    animation-delay: 1.25s;
}
h1 span:nth-child(7){
    animation-delay: 1.5s;
}
h1 span:nth-child(8){
    animation-delay: 1.75s;
}
h1 span:nth-child(9){
    animation-delay: 2s;
}
@keyframes animate{
    0%
    {
        color:#111;
        filter: blur(2px);
        text-shadow: 0 0 10px #00b3ff,
                    0 0 20px #00b3ff,
                    0 0 30px #00b3ff,
                    0 0 40px #00b3ff,
                    0 0 50px #00b3ff,   
                    0 0 60px #00b3ff,
                    0 0 70px #00b3ff,
                    0 0 80px #00b3ff,
                    0 0 90px #00b3ff;
    }
    5%,95%
    {
        color:#fff;
        filter: blur(0px);
        text-shadow:none;
    }
}

#glavniTekst2{
    width: 30%;
    transform: rotate(270deg);
    position: relative;
    left: 40px;
    top:-20px;
}
#glavniTekst2 span{
    display: block;
}

#glavniTekst2 p{
    font-size: 50px;
    color:white;
    opacity: 0.3;
    font-weight: bold;
    letter-spacing: 3px; 
}
#glavniTekst2media p{
  display: none;
}

#glavniTekst3{
    width: 20%;
    transform: rotate(270deg);
    position: relative;
    top:95px;
}
#glavniTekst3 h1{
    font-size: 135px;
    color: white;
    opacity: 0.3;
    letter-spacing: 10px;
}

#menu-social a{
    text-decoration: none;
    color:#fff;
    font-size: 25px;
    letter-spacing: 2px;
    font-family: BebasNeueRegular;
}
#menu-social li{
    list-style-type: none;
    margin-left: 30px;
}
#menu-social{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 17px;
    bottom: 40px;
}
#menu-social span{
    font-size: 25px;
    margin-left: 15px;
    
}

#menu-social a:hover{
    color:royalblue;
	transition:all 0.5s ease-in;
	padding:5px 0px;
}

/*ABOUT ME*/
#aboutme{
    width:100%;
    min-height: 950px;
}
.flex-container2{
    width: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: row;
    text-wrap:wrap;
}
.flex-container4{
    width: 90%;
    min-height: 250px;
    display: flex;
    flex-direction: row;
    text-wrap:wrap;
}
.flex-container3{
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    text-wrap:wrap;
}
#levi-blok{
    width:35%;
    position: relative;
    left: 40px;
    
}
#levi-blok img{
    width:360px;
    height: 360px;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    left:20px;
    top:0px;
}
#levi-blok h2{
    font-size: 80px;
    font-weight: bold;
    z-index: 1;
}
.line{
    text-decoration: line-through;
}

#desni-blok{
    width:65%;
    margin-right: 80px;
    margin-left: 40px;
    position: relative;
    top:50px;
}

#desni-blok p{
    font-size: 23px;
    font-family: Muli-Regular;
}
#my-skills{
    width:65%;
    margin: 0px auto;
    float: right;
    
}
.container{
    width: 70%;
    background-color: #b2b2b2;
}
.skills{
    text-align: right;
    padding-right: 20px;
    line-height: 30px;
    color:white;
    background-color: #424242;
}

.html{
    width: 90%;
}
.css{
    width:85%;
}

.js{
    width:15%;
}
.php{
    width:10%;
}
#my-skills h3{
    font-size:35px;
}
#my-skills p{
    font-size: 23px;
}
#my-projects{
    width:90%;
    margin:0px auto;
    min-height: 450px;
}
#project-photo img{
    z-index: -1;
    transform: scale(1.05);
    transition: all 0.5s;
}
#project-photo img:hover{
    transform: scale(0.90);
    margin-right: 10px;
}
#project-text{
    z-index: 1;
    position: relative;
}
#project-text h3{
    font-size: 45px;
    margin-left: -10px;
}
#project-text p{
    margin-left: 20px;
    margin-top: 8px;
    font-size: 20px;
    opacity: 0.5;
}
/*FOOTER*/
#futer{
    width: 100%;
    min-height: 700px;
    background-color: #0c0c0c;
    margin: 0px auto;
}
#say-hello{
    width:100%;
    margin:0px auto;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    position: relative;
    top:80px;
}
#say-hello h2{
    font-size: 100px;
    text-align: center;
}
#say-hello p{
    font-size: 23px;
    opacity: 0.8;
    text-align: center;
    font-family: "Muli-Regular";
    margin-top:-40px;
}
#say-hello a{
    text-align: center;
    font-size: 20px;
    font-family: "Muli-Regular";
    font-weight: bold;
    margin-top: 20px;
    color:#fff;
    text-decoration: none;
}


/*CURSOR*/

/*MEDIA QUERIES*/
@media (max-width:1200px){
    #main{
        width:100%;
    }
    #glavniTekst h1{
        font-size: 170px;
    }
    #glavniTekst{
        left:60px;
        top:40px;
    }
    #glavniTekst2 p{
        font-size: 45px;
    }
    #glavniTekst2{
        left:120px;
        top:0px;
    }
    #glavniTekst3 h1{
        font-size: 127px;
    }
    #glavniTekst3{
        top:110px;
        left:30px;
    }
    #menu-social{
        bottom:70px;
        left:0px;
    }
    #my-skills{
        width:60%;
    }
}
@media (max-width:992px){
    #glavniTekst3 h1{
        font-size: 120px;
    }
    #glavniTekst3{
        left:110px;
    }
    #glavniTekst2 p{
        font-size: 38px;
    }
    #glavniTekst2{
        left:230px;
        top:30px;
    }
    #levi-blok h2{
        font-size: 65px;
        line-height:50px;
    }
    #levi-blok img{
        width:330px;
        height:330px;
    }
    
    #project-photo img{
        transform: scale(0.90);
        margin-top:50px;
    }
    #project-photo img:hover{
        transform: scale(0.75);
    }
    #project-text h3{
        font-size: 45px;
    }
    #project-text p{
        font-size: 20px;
    }
    #project-text{
        top:50px;
    }
}
@media(max-width:768px){
    #main{
        width: 100%;
    }
    #zaglavlje nav ul li a{
        font-size: 18px;
    }
    #zaglavlje nav ul li{
        margin-left: 15px;
    }
    #glavniTekst h1{
        font-size: 140px;
    }
    #glavniTekst{
        left:30px;
        top:0px;
    }
    #glavniTekst2{
        display: none;
    }
    #glavniTekst2media{
        position: relative;
        top:20px;
        left: 10px;
        width:400px;
    }
    #glavniTekst2media p{
        font-size: 30px;
        color:white;
        opacity: 0.5;
        letter-spacing: 3px; 
        display: block;
        font-weight:100;
    }
    
    #glavniTekst3{
        left:260px;
        top:130px;
    }
    #menu-social{
        left:-10px;
    }
    #levi-blok img{
        left:-45px;
        top:0px;
    }
    .flex-container2{
        flex-direction: column;
    }
    #levi-blok{
        width:80%;
    }
    #desni-blok{
        width:90%;
        top:-35px;
    }
    #my-skills{
        width:80%;
    }
    #project-photo img{
        transform: none;
        width:350px;
    }
    #project-photo img:hover{
        transform: none;
        margin-right: 0px;
    }
    
    #project-text p{
        margin: 0px auto;
    }
    #my-projects{
        width: 90%;
        text-align: center;
        margin: 0px auto;
        min-height: 650px;
    }
    
    .flex-container4{
        flex-direction: column;
        width: 100%;
    }
}
@media(max-width:480px){
   
    
    #logo img{
        width:90px;
        height: 90px;
    }
    #logo{
        left:30px;
        top:60px;
    }
    .mobile-nav{
        display: block;
        margin-top: 10px;
        text-align: center;
    }
    .mobile-nav a{
        width: 100%;
        color:#b2b2b2;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 2px;
        text-align: center;
        padding: 10px 10px;
        transition: all 0.35s;
        text-decoration: none;
    }
    
    .mobile.nav a:hover{
        background: #b2b2b2;
        color:#222;
    }
    #zaglavlje nav{
        display: none;
    }
    #zaglavlje nav ul li a{
        font-size: 18px;
    }
    #zaglavlje nav ul{
        flex-direction: column;
    }
    #glavniTekst3{
       display:none;
    }
    #glavniTekst h1{
        font-size:125px;
    }
    #menu-social{
        left:-40px;
        top:-100px;
    }
}
    
@media(max-width:457px){
    #glavniTekst h1{
        font-size:110px; 
    }
    #glavniTekst{
        left:10px;
    }
    #glavniTekst2media p{
        font-size:23px;
        width:90%;
    }
    #menu-social a{
    font-size: 20px;
    }
    #menu-social{
        left:-50px;
        top:-150px;
    }
    #my-projects{
        min-height: 800px;
    }
    #futer{
        width: 100%;
    }
}
@media(max-width:360px){
    #glavniTekst h1{
        font-size:100px;
    }  
    #glavniTekst2media{
        top:50px;
        left:10px;
    }
    #aboutme{
        width:90%;
    }
    #my-projects{
        width:90%;
    }
    #project-photo img{
        width:250px;
        margin-bottom: -50px;
    }
    #futer{
        width: 100%;
    }
    #say-hello p{
        width:90%;
    }
}
